/*
########################################
 (c)2017 CREDIT INFO
########################################

 @CSS Document;

 Author: Savin Cristian
 Author-email: savin.cristian95@icloud.com
 Start Date: 02. 06. 2017
 Finish Date: 06. 06. 2017

*/



/*
    Custom marin top & bottom classes
*/
.mt5{margin-top:5px!important}
.mt10{margin-top:10px!important}
.mt15{margin-top:15px!important}
.mt20{margin-top:20px!important}
.mt25{margin-top:25px!important}
.mt30{margin-top:30px!important}
.mt35{margin-top:35px!important}
.mt40{margin-top:40px!important}
.mt45{margin-top:45px!important}
.mt50{margin-top:50px!important}
.mt55{margin-top:55px!important}
.mt60{margin-top:60px!important}
.mt65{margin-top:65px!important}
.mt70{margin-top:70px!important}
.mt75{margin-top:75px!important}
.mt80{margin-top:80px!important}
.mt85{margin-top:85px!important}
.mt90{margin-top:90px!important}

.mb5{margin-bottom:5px!important}
.mb10{margin-bottom:10px!important}
.mb15{margin-bottom:15px!important}
.mb20{margin-bottom:20px!important}
.mb25{margin-bottom:25px!important}
.mb30{margin-bottom:30px!important}
.mb35{margin-bottom:35px!important}
.mb40{margin-bottom:40px!important}
.mb45{margin-bottom:45px!important}
.mb50{margin-bottom:50px!important}
.mb55{margin-bottom:55px!important}
.mb60{margin-bottom:60px!important}
.mb65{margin-bottom:65px!important}
.mb70{margin-bottom:70px!important}
.mb75{margin-bottom:75px!important}
.mb80{margin-bottom:80px!important}
.mb85{margin-bottom:85px!important}
.mb90{margin-bottom:90px!important}



/* FONTS */
/* This stylesheet generated by Transfonter (https://transfonter.org) on June 2, 2017 12:26 PM */

@font-face {
    font-family: 'Futura PT Cond Book';
    src: url('../fonts/FuturaPT/FuturaPTCond-BookObl.eot');
    src: url('../fonts/FuturaPT/FuturaPTCond-BookObl.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPTCond-BookObl.woff2') format('woff2'),
    url('../fonts/FuturaPT/FuturaPTCond-BookObl.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPTCond-BookObl.ttf') format('truetype'),
    url('../fonts/FuturaPT/FuturaPTCond-BookObl.svg#FuturaPTCond-BookObl') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Futura PT Light';
    src: url('../fonts/FuturaPT/FuturaPT-Light.eot');
    src: url('../fonts/FuturaPT/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPT-Light.woff2') format('woff2'),
    url('../fonts/FuturaPT/FuturaPT-Light.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPT-Light.ttf') format('truetype'),
    url('../fonts/FuturaPT/FuturaPT-Light.svg#FuturaPT-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Cond Extra';
    src: url('../fonts/FuturaPT/FuturaPTCond-ExtraBold.eot');
    src: url('../fonts/FuturaPT/FuturaPTCond-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPTCond-ExtraBold.woff2') format('woff2'),
    url('../fonts/FuturaPT/FuturaPTCond-ExtraBold.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPTCond-ExtraBold.ttf') format('truetype'),
    url('../fonts/FuturaPT/FuturaPTCond-ExtraBold.svg#FuturaPTCond-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Book';
    src: url('../fonts/FuturaPT/FuturaPT-Book.eot');
    src: url('../fonts/FuturaPT/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPT-Book.woff2') format('woff2'),
    url('../fonts/FuturaPT/FuturaPT-Book.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPT-Book.ttf') format('truetype'),
    url('../fonts/FuturaPT/FuturaPT-Book.svg#FuturaPT-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Bold';
    src: url('../fonts/FuturaPT/FuturaPT-Bold.eot');
    src: url('../fonts/FuturaPT/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPT-Bold.woff2') format('woff2'),
    url('../fonts/FuturaPT/FuturaPT-Bold.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPT-Bold.ttf') format('truetype'),
    url('../fonts/FuturaPT/FuturaPT-Bold.svg#FuturaPT-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Bold Oblick';
    src: url('../fonts/FuturaPT/FuturaPT-BoldObl.eot');
    src: url('../fonts/FuturaPT/FuturaPT-BoldObl.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPT-BoldObl.woff2') format('woff2'),
    url('../fonts/FuturaPT/FuturaPT-BoldObl.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPT-BoldObl.ttf') format('truetype'),
    url('../fonts/FuturaPT/FuturaPT-BoldObl.svg#FuturaPT-BoldObl') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url('../fonts/FuturaPT/FuturaPTCond-BoldObl.eot');
    src: url('../fonts/FuturaPT/FuturaPTCond-BoldObl.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPTCond-BoldObl.woff2') format('woff2'),
    url('../fonts/FuturaPT/FuturaPTCond-BoldObl.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPTCond-BoldObl.ttf') format('truetype'),
    url('../fonts/FuturaPT/FuturaPTCond-BoldObl.svg#FuturaPTCond-BoldObl') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Heavy Oblick';
    src: url('../fonts/FuturaPT/FuturaPT-HeavyObl.eot');
    src: url('../fonts/FuturaPT/FuturaPT-HeavyObl.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPT-HeavyObl.woff2') format('woff2'),
    url('../fonts/FuturaPT/FuturaPT-HeavyObl.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPT-HeavyObl.ttf') format('truetype'),
    url('../fonts/FuturaPT/FuturaPT-HeavyObl.svg#FuturaPT-HeavyObl') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Medium Oblick';
    src: url('../fonts/FuturaPT/FuturaPT-MediumObl.eot');
    src: url('../fonts/FuturaPT/FuturaPT-MediumObl.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPT-MediumObl.woff2') format('woff2'),
    url('../fonts/FuturaPT/FuturaPT-MediumObl.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPT-MediumObl.ttf') format('truetype'),
    url('../fonts/FuturaPT/FuturaPT-MediumObl.svg#FuturaPT-MediumObl') format('svg');
    font-weight: 500;
    font-style: italic;
}


@font-face {
    font-family: 'Futura PT Cond Extra';
    src: url('../fonts/FuturaPT/FuturaPTCond-ExtraBoldObl.eot');
    src: url('../fonts/FuturaPT/FuturaPTCond-ExtraBoldObl.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPTCond-ExtraBoldObl.woff2') format('woff2'),
    url('../fonts/FuturaPT/FuturaPTCond-ExtraBoldObl.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPTCond-ExtraBoldObl.ttf') format('truetype'),
    url('../fonts/FuturaPT/FuturaPTCond-ExtraBoldObl.svg#FuturaPTCond-ExtraBoldObl') format('svg');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Futura PT Medium';
    src: url('../fonts/FuturaPT/FuturaPT-Medium.eot');
    src: url('../fonts/FuturaPT/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPT-Medium.woff2') format('woff2'),
    url('../fonts/FuturaPT/FuturaPT-Medium.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPT-Medium.ttf') format('truetype'),
    url('../fonts/FuturaPT/FuturaPT-Medium.svg#FuturaPT-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Demi';
    src: url('../fonts/FuturaPT/FuturaPT-Demi.eot');
    src: url('../fonts/FuturaPT/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPT-Demi.woff2') format('woff2'),
    url('../fonts/FuturaPT/FuturaPT-Demi.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPT-Demi.ttf') format('truetype'),
    url('../fonts/FuturaPT/FuturaPT-Demi.svg#FuturaPT-Demi') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Book';
    src: url('../fonts/FuturaPT/FuturaPT-BookObl.eot');
    src: url('../fonts/FuturaPT/FuturaPT-BookObl.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPT-BookObl.woff2') format('woff2'),
    url('../fonts/FuturaPT/FuturaPT-BookObl.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPT-BookObl.ttf') format('truetype'),
    url('../fonts/FuturaPT/FuturaPT-BookObl.svg#FuturaPT-BookObl') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/FuturaPT-Light_1.eot');
    src: url('../fonts/FuturaPT/FuturaPT-Light_1.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPT-Light_1.woff2') format('woff2'),
    url('../fonts/FuturaPT/FuturaPT-Light_1.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPT-Light_1.ttf') format('truetype'),
    url('../fonts/FuturaPT/FuturaPT-Light_1.svg#FuturaPT-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}




body{
    font-family: 'Open Sans', sans-serif;
}
.top-header{
    background-color: #ecedef;
    position: relative;
}
.top-header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.top-header ul li{
    display: inline-block;
}
.top-header ul li a{
    font-weight: 300;
    font-size: 13px;
    color: #323232;
    display: block;
    padding: 17px 10px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.top-header ul li a:hover{
    color: #e3210d;
    text-decoration: none;
}
.news-btn{
    margin-right: 30px;
    padding: 9px 34px 9px 34px;
}
.oferts-btn{
    padding: 9px 34px 9px 0;
}

.news-btn,
.oferts-btn{
    display: inline-block;
}
.news-btn svg,
.oferts-btn svg{
    width: 30px;
    height: 30px;
}
.news-btn .text,
.oferts-btn .text{
    position: relative;
    top: -9px;
    margin: 0;
}
.news-and-ofercts-btn a{
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.news-and-ofercts-btn a:hover{
    text-decoration: none;
    color: #e3210d;
}

.logo{
    padding: 70px 0 0 0;
}
.bottom-header{
    padding: 10px 0;
}
.bottom-header .border-bottom{
    height: 2px;
    background-color: #ecedef;
}
.page-navigation{
    padding: 40px 0 0 0;
}
.page-navigation svg{
    width: 50px;
    height: 50px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.page-navigation a:hover svg{
    fill: #e3210d;
}
a .big-red-text{
    font-size: 20px;
    font-weight: 900;
    color: #e3210d;
}
a .small-black-text{
    font-size: 13px;
    font-weight: bold;
    color: #323232;
}
.top-nav{
    border-bottom: 9px solid  #ecedef;
}
.bottom-navigation{
    padding-top: 20px;
}
.bottom-navigation a{
    width: 100%;
    max-width: 217px;
    font-size: 15px;
    font-weight: 300;
    color: #323232;
    padding: 16px 0;
    text-align: center;
    background-color: #ecedef;
    display: block;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.bottom-navigation a:hover{
    text-decoration: none;
    background-color: #e3210d;
    color: #fff;
}
.all-contacts{
    border-left: 2px solid #e1e3e4;
    padding: 0 26px;
}
.box{
    border-bottom: 2px solid #e1e3e4;
    margin-bottom: 5px;
    padding: 9px 0;
}
.box .big-text{
    font-family: Tahoma, sans-serif;
    font-size: 18px;
    color: #414141;
}
.box .small-text{
    font-family: Tahoma , sans-serif;
    font-size: 9px;
    color: #414141;
}
.write-now a{
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    color: #414141;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.write-now a:hover{
    text-decoration: none;
    color: #e3210d;
}

.box.socio-link{
    border: none;
}
.box.socio-link ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
}
.box.socio-link ul li{
    display: inline-block;
    margin: 0 2px;
}
.box.socio-link ul li a{
    padding: 0;
    display: block;
    border-bottom: 3px solid transparent;
}
.box.socio-link ul li a img{
    width: 17px;
    height: 17px;
}
.box.socio-link ul li a:hover{
    text-decoration: none;
    border-color: #e3210d;
}


.product-range{
    background: url("../images/gama-produse-bg.png") 0 0 no-repeat;
    padding: 35px 0;
    background-size: cover;
}
.middle-box a{
    width: 150px;
    height: 114px;
    background-color: #e3210d;
    border: solid 3px #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin: 0 14px;
    font-family: Tahoma , sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.middle-box a:hover{
    text-decoration: none;
    background: #fff;
    border-color: #e3210d;
    color: #e3210d;
}
.title-gama-box{
    font-family: Tahoma , sans-serif;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}
.range-list span{
    margin-right: 2px;
}
.range-list ul{
    list-style-type: none;
    background: #fff;
    padding: 30px 32px;
}
.range-list ul li{
    margin-bottom: 10px;
    font-family: Tahoma , sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #323232;
}
.title{
    font-family: Tahoma , sans-serif;
    margin: 20px 0;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    color: #3a3f42;

}
.year{
    text-align: center;
}
.year .big-text{
    font-family: Tahoma , sans-serif;
    font-size: 226px;
    color: #4a4d4e;
    display: inline-block;
    line-height: 1;
}
.year .small-text{
    font-family: Tahoma , sans-serif;
    font-size: 47px;
    color: #4a4d4e;
    display: inline-block;
}
.another-text{
    font-family: Tahoma , sans-serif;
    font-size: 23px;
    color: #4a4d4e;
    text-align: center;
}
span.red-text{
    font-family: Tahoma , sans-serif;
    font-size: 18px;
    color: #ff0000;
}
.box .small-title{
    font-family: Tahoma , sans-serif;
    font-size: 23px;
    color: #4a4d4e;
}
.box .description{
    font-family: Tahoma , sans-serif;
    font-size: 15px;
    color: #4a4d4e;
}
.simple-text{
    padding: 43px 0;
}
.benefits .box{
    margin: 30px 0;
}
.our-recomandation{
    padding: 65px 0;
}
.recomandation-box{
    padding: 10px 40px 120px 40px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 4px 38px 0 rgba(0, 1, 6, 0.1);
    border-top: 11px solid transparent;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    margin-bottom: 30px;
    position: relative;
}
.recomandation-box .img{
    margin-bottom: 10px;
    height: 230px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.recomandation-box .img img{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}
.recomandation-box:hover{
    border-color: #e3210d;
}
.recomandation-box .type-products {
    text-align: left;
    margin-top: -10px;
    font-family: Tahoma , sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #7b7b7b;
}
.title-glass{
    font-family: Tahoma , sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #313131;
    margin-top: 10px;
}
.recomandation-box .price, .box .main-price{
    font-family: Tahoma , sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #e3210d;
}
.recomandation-box .price sup{
    font-size: 16px;
}
.btn-primary.buy-now{
    width: 76%;
    display: block;
    padding: 15px 0;
    background: #fff;
    font-family: Tahoma ,sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #e3210d;
    border: solid 1px #e3210d;
    margin-top: 20px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -38%;
}
.btn-primary.buy-now:hover{
    background-color: #e3210d;
    border: solid 1px #e3210d;
    color: #fff;
    text-decoration: none;
}


.news{
    background-color: #f9f9f9;
    padding: 40px 0;
}


.title-news-box{
    font-family: OpenSans , sans-serif;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: 0.5px;
    color: #969595;
}
.news-box{
    padding: 5px 10px 90px 10px;
    position: relative;
    margin-bottom: 30px;
}
.date-of-publishing{
    font-family: OpenSans , sans-serif;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: 0.5px;
    color: #969595;
}
.news-box .description{
    font-family: OpenSans ,sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: 0.5px;
    color: #969595;
    margin-top: 30px;
}
a.btn-primary.view-more{
    display: block;
    width: 188px;
    padding: 15px 0;
    border: solid 1px #e3210d;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    background: #fff;
    color: #e3210d;
    margin-left: -99px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    font-family: Tahoma ,sans-serif;
    font-size: 13.9px;
    font-weight: bold;
}
a.btn-primary.view-more:hover{
    background-color: #e3210d;
    text-decoration: none;
    font-family: Tahoma , sans-serif;
    font-weight: bold;
    color: #fff;
}
.seo{
    padding-bottom: 40px;
}
.seo-description{
    font-family: Tahoma , sans-serif;
    font-size: 13px;
    color: #3a3f42;
}
.seo-description div{
    margin-bottom: 10px;
}
.footer-nav{
    padding: 40px 0;
    background-color: #505153;
}
.footer-nav ul{
    list-style-type: none;
    padding: 0;
}
.footer-nav ul li a{
    font-family: OpenSans,sans-serif;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: normal;
    color: #ffffff;
}
.footer-nav .logo{
    padding: 10px 0;
}
.footer-nav .all-contacts .big-text,
.footer-nav .all-contacts .small-text{
    color: #fff;
}
.footer-nav .box.write-now a{
    color: #fff;
}
.footer-nav a{
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.footer-nav a:hover{
    text-decoration: none;
    color: #e3210d;
}
.copyright-box{
    background-color: #38393b;
    padding: 20px 0;
    font-family: OpenSans ,sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.85;
    color: #77797d;
}
.copyright-box a{
    font-family: OpenSans , sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.85;
    color: #77797d;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.copyright-box a:hover{
    text-decoration: none;
    color: #e3210d;
}




/* CONFIGURATOR PAGE */

.form-panel-header{
    padding: 17px 0 17px 19px;
    background-color: #323232;
    font-family: "Futura PT Bold" , sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    position: relative;
}
.form-panel-header .info{
    font-family: "Futura PT Book" , sans-serif;
    font-size: 14px;
    color: #ffffff;
}
.form-panel-content{
    padding: 30px 0 50px 0;
}
.form-panel-content input[type="radio"]{
    display: none;
}
.form-panel-content input[type="radio"]:checked + label{
    background-color: #fffbfb;
    border-color: #e3210d;
}
.form-panel-content label{
    padding: 0 20px;
}
.panel-input{
    border: solid 1px #f1f1f1;
    text-align: center;
}
.btn-primary.price{
    background-color: #ffffff;
    border: 1px solid #e3210d;
    font-family: "Futura PT-Demi" ,sans-serif;
    font-size: 19.7px;
    line-height: 0.81;
    text-align: center;
    color: #444444;
    display: inline-block;
    padding: 15px 30px;
    margin-bottom: 20px;
}
.form-panel-content label:hover{
    cursor: pointer;
}
.form-panel-content input[type="radio"]:checked + label .btn-primary.price{
    background-color: #e3210d;
    border: solid 1px #838d8f;
    font-family: "Futura PT-Demi" ,  sans-serif;
    font-size: 19.7px;
    line-height: 0.81;
    text-align: center;
    color: #ffffff;
}
.form-panel-content .material{
    font-family: "Futura PT Light" , sans-serif;
    font-size: 19.7px;
    font-weight: 500;
    line-height: 1.12;
    text-align: center;
    color: #444444;
    margin: 10px 0;
}
.panel-input{
    width: 100%;
    display: inline-block;
}
.form-panel-content label ul{
    list-style-type: none;
    text-align: left;
    padding: 0;
}
.form-panel-content label li{
    font-family: "Futura PT Book" ,sans-serif;
    font-size: 13.5px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #444444;
}
.form-panel-content label li span{
    color: #2e928a;
}
.btn-primary.select-or-selected{
    background-color: #ffffff;
    border: solid 1px #838d8f;
    font-family: "Futura PT Demi" , sans-serif;
    font-size: 19.7px;
    line-height: 0.81;
    text-align: center;
    color: #444444;
    padding: 15px 0;
    width: 100%;
    margin: 15px 0;
    position: absolute;
    bottom: 10px;
    display: block;
}
label.type-glass img{
    margin-bottom: 90px;
}
label.type-glass .btn-primary.select-or-selected,
label.piese .btn-primary.select-or-selected,
label.color .btn-primary.select-or-selected,
label.profil .btn-primary.select-or-selected{
    max-width: 60%;
    bottom: 35px;
    left: 50%;
    margin-left: -30%;
}
label.profil,
label.color{
    padding-bottom: 90px;
}
.form-panel-content label.piese img{
    margin-bottom: 90px;
}
.form-panel-content input[type="radio"]:checked + label span.hidden-after-select{
    display: none;
}
.form-panel-content input[type="radio"]:checked + label .btn-primary.select-or-selected{
    background-color: #e3210d;
    border: solid 1px #838d8f;
    color: #fff;
}
.form-panel-content input[type="radio"]:checked + label .btn-primary.select-or-selected:before{
    content: "selectat";
}
.form-panel-content .panel-input{
    margin-bottom: 30px;
}



.title-panel{
    font-size: 20px;
    font-weight: 900;
}

.input-group .form-control {
    background-color: #eee;
}

.input-group-addon{
    background-color: #e3210d;
    font-family: "FuturaPT-Demi" , sans-serif;
    font-size: 12.7px;
    line-height: 0.81;
    text-align: center;
    color: #ffffff;
    border: none;
}
.input-group .form-control{
    max-width: 230px;
    width: 100%;
    padding: 18px 0;
    text-align: center;
    border: none;
    box-shadow: none;
}
.calculator{
    background-color: #ededed;
}
.top-panel{
    background: #323232;
    height: 94px;
    padding: 10px 0 0 20px;
    color: #fff;
}
.calculator .size-glass{
    text-align: center;
}
.calculator .size-glass input{
    width: 100%;
    padding: 5px 0;
    background-color: #ffffff;
    border: solid 1px #838d8f;
    text-align: center;
    margin: 0 auto;
    display: block;
}
.panel-content-padding{
    padding: 21px;
}
.input-group-text{
    font-family: "FuturaPT-Demi" , sans-serif;
    margin: 15px 0;
    font-size: 11.9px;
    line-height: 0.87;
    color: #444444;
}
.calculator-img{
    background: #fff;
    text-align: center;
    padding: 53px 0;
}
input:focus{
    outline: none;
    box-shadow: none;
}
.sum-calculator .price{
    font-family: "FuturaPT" , sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #444444;
    text-align: center;
}
.sum-calculator .price .big-text{
    font-size: 40px;
}
.impozit{
    font-family: "FuturaPT-Book" , sans-serif;
    font-size: 13px;
    text-align: center;
    color: #444444;
    margin-top: 15px;
}
.what-choose .material,
.what-choose  .culoare,
.what-choose  .specii{
    text-align: center;
    font-family: "Futura PT Bold" , sans-serif;
    font-size: 13px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #444444;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 8px 0 0 ;
}
.what-choose > div{
    margin: 10px 0;
}
.what-choose{
    padding: 0 0 0 25px;
}
.submit-form-details{
    text-align:  center;
    margin-top: 25px;
}
.submit-form-details button{
    display: inline-block;
    width: 236px;
    height: 50px;
    background-color: #e3210d;
    border: none;
    font-family: "FuturaPT-Demi" ,sans-serif;
    font-size: 19.7px;
    text-align: center;
    color: #ffffff;
}
.select2-container--krajee .select2-selection--single .select2-selection__clear{
    top: -1px;
}


.remove-padding-left{
    padding-left: 0 !important;
}
.remove-padding-right{
    padding-right: 0 !important;
}
.remove-padding{
    padding: 0 !important;
}
.red-bg{
    height: 94px;
    padding: 30px 0 0 0;
    background-color: #e3210d;
    text-align: center;
    color: #fff;
}




/* produse page */
.produs{
    padding: 40px 0;
}
.name-page{
    font-family: "OpenSans" , sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background: url("../images/produse-page.png") 50% 0 no-repeat;
    background-size: cover;
    height: 165px;
    padding: 60px 0;
}


.pagination li a{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 2.57;
    text-align: center;
    font-weight: 500;
    color: #959595;
    border: none;
    margin: 3px;
    display: inline-block;
    background-color: #f0f0f0;
}
.pagination li a:hover{
    color: #e3210d;
}
.pagination li a:active{
    color: #e3210d;
}

.news.white-bg{
    background: #fff;
}

.right-sidebar-title{
    background-color: #323232;
    font-family: "Tahoma" , sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    padding: 24px 0;
    margin-bottom: 20px;
    margin-top: 55px;
}

.about-post{
    padding: 30px 0;
}
.about-post .description{
    padding: 0 100px;
}

.about-post .description .small-title{
    font-family: "OpenSans" , sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: 0.5px;
    margin: 10px 0;
    color: #313131;
}
.about-post .description div{
    font-size: 13px;
    line-height: 1.38;
    letter-spacing: 0.6px;
    font-family: "OpenSans" , sans-serif;
    margin: 15px 0;
    color: #969595;
}

.date-of-publishing-post .title{
    font-family: "OpenSans" , sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    text-align: left;
}
.date-of-publishing-post{
    margin-top: -190px;
    text-align: left;
    max-width: 700px;
}
.date-of-publishing-post .date{
    font-family: "OpenSans" , sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 3.0;
    letter-spacing: 0.6px;
    color: #969595;
}
.owl-thumb-item.active{
    border-color: red;
}
.owl-thumb-item{
    margin: 5px 17px;
    background: transparent;
    border: solid 1px rgba(192, 204, 211, 0.5);;
    width: 104.3px;
    height: 83px;
    position: relative;
    overflow: hidden;
}
.owl-thumb-item img{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}
.owl-thumbs{
    width: 104.3px;
    height: 83px;
    position: relative;
}
button:focus{
    outline: none;
}
.owl-carousel .owl-item{
    height: 380px;
    position: relative;
    overflow: hidden;
}
.owl-carousel .owl-item img{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.about-products .recomandation-box{
    padding: 0;
    background: transparent;
    box-shadow: none;
    margin-bottom: 10px;
}


.about-products ul{
    list-style-type: none;
    padding: 10px 0;
}
.about-products ul li{
    margin: 5px;
    font-size: 11px;
    line-height: normal;
}
.about-products ul li span{
    color: #2e928a;
    margin-right: 5px;
    font-size: 11px;
    line-height: normal;
}
.about-products .input-group .form-control{
    background-color: #ffffff;
    border: solid 1px #f1f1f1;
    width: 50px;
    padding: 13px 0;
    text-align: center;
}
.about-products .input-group{
    margin-top: 25px !important;
}
.about-products .description{
    font-family: 'Tahoma' , sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: normal;
    color: #969595;
}
.about-products .input-group{
    width: 40%;
    margin: 0 auto;
}
.about-products  .submit-form-details button{
    width: 100%;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.about-products  .submit-form-details button:hover{
    background: rgba(227, 33, 13, .5);
}

.tabs-section .nav-tabs{
    background-color: #f7f8f9;
}
.tabs-section .nav-tabs > li > a{
    font-family: "Tahoma"  , sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: normal;
    color: #969595;
    width: 135px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
}
.tabs-section .nav-tabs>li.active>a, .tabs-section .nav-tabs>li.active>a:focus, .tabs-section .nav-tabs>li.active>a:hover{
    border-top: 3px solid #e3210d;
    color: #e3210d;
}
.tabs-section .tab-content{
    padding: 30px 20px;
}
.tab-content .description{
    font-family: "Tahoma" , sans-serif;
    font-size: 13px;
    line-height: 1.54;
    color: #969595;
}
.tab-content .description div{
    margin: 15px 0;
}
.about-our{
    padding: 70px 0;
}
.info-about-our .title{
    text-align: center;
    color: #000;
}
.info-about-our{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}
.info-about-our .description{
    color: #000;
    text-align: justify;
}
.info-about-our .description div{
    margin: 15px 0;
}
.info-about-our .buy-now{
    position: static !important;
    text-align: center;
    display: block;
    max-width: 280px;
    margin: 0 auto;
}


.contacts{
    background: url("../images/contacte-bg.png") 0 0 no-repeat;
    background-size: cover;
    padding: 250px 0;
}
.form-contacts .title{
    text-align: left;
    color: #fff;
}
.form-contacts label{
    width: 100%;
}
.form-contacts input{
    width: 100%;
    background-color: rgba(77, 72, 71 , .3);
    border: solid 1px rgba(221, 221, 221, 0.78);
    color: #fff;
    padding: 24px 0 24px 19px;
}
.form-contacts textarea{
    width: 100%;
    background-color: rgba(77, 72, 71 , .3);
    border: solid 1px rgba(221, 221, 221, 0.78);
    color: #fff;
    padding: 24px 0 90px 19px;

}
.form-contacts input::-webkit-input-placeholder {
    font-family: "Tahoma" , sans-serif;
    font-size: 16px;
    color: #ecf0f1;
}
.form-contacts input::-moz-placeholder          {
    font-family: "Tahoma" , sans-serif;
    font-size: 16px;
    color: #ecf0f1;
}/* Firefox 19+ */
.form-contacts input:-moz-placeholder           {
    font-family: "Tahoma" , sans-serif;
    font-size: 16px;
    color: #ecf0f1;
}/* Firefox 18- */
.form-contacts input:-ms-input-placeholder      {
    font-family: "Tahoma" , sans-serif;
    font-size: 16px;
    color: #ecf0f1;
}

.form-contacts textarea::-webkit-input-placeholder {
    font-family: "Tahoma" , sans-serif;
    font-size: 16px;
    color: #ecf0f1;
}
.form-contacts textarea::-moz-placeholder          {
    font-family: "Tahoma" , sans-serif;
    font-size: 16px;
    color: #ecf0f1;
}/* Firefox 19+ */
.form-contacts textarea:-moz-placeholder           {
    font-family: "Tahoma" , sans-serif;
    font-size: 16px;
    color: #ecf0f1;
}/* Firefox 18- */
.form-contacts textarea:-ms-input-placeholder      {
    font-family: "Tahoma" , sans-serif;
    font-size: 16px;
    color: #ecf0f1;
}
.form-contacts .submit-form-details button{
    max-width: 280px;
    width: 100%;
    padding: 11px 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    border: 2px solid transparent;
}
.form-contacts .submit-form-details button:hover{
    background: rgba(227,33, 13, .5);
    border-color: #fff;
}
.contacts .title{
    text-align: left;
    color: #fff;
}
.contacts .info{
    font-family: "Tahoma" , sans-serif;
    font-size: 14px;
    line-height: 2.14;
    color: #ffffff;
}
.contacts ul{
    list-style-type: none;
    padding: 40px 0;
}
.contacts ul li {
    color: #fff;
    font-family: "Tahoma" , sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: normal;
    margin: 10px 0;
}
.contacts ul li a{
    color: #fff;
    font-family: "Tahoma" , sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: normal;
    margin: 10px 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.contacts ul li .fa{
    margin-right: 10px;
}
.contacts ul li a:hover{
    text-decoration: none;
    color: #e3210d;
}

.hide-header-nav a{
    font-size: 30px;
    color: #000;
    float: right;
    display: none;
}


.content-slider .title{
    font-family: "Tahoma" , sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #000000;
    text-align: left;
    padding: 0 0 0 10px;
}
.content-slider .description div{
    font-family: "Tahoma" , sans-serif;
    font-size: 14px;
    color: #000000;
    padding: 0 0 0 10px;
    text-align: justify;
    margin: 15px 0;
}
.content-slider .description .big-text{
    font-family: "Tahoma" , sans-serif;
    font-size: 100px;
    color: #4a4d4e;
    line-height: 0.8;
}
.content-slider .description .big-text sub{
    font-family: "Tahoma" , sans-serif;
    font-size: 24px;
    color: #4a4d4e;
    margin-left: -20px;
    top: -5px;
    position: relative;
}
.another-info{
    text-align: center;
    display: inline-block;
    float: right;
}
.another-info-box{
    font-family: "Tahoma" , sans-serif;
    font-size: 15px;
    color: #585c62;
    border-bottom: 1px dashed #c2c9cd;
    margin: 10px 0;
    padding-bottom: 8px;
}
.another-info-box span.depth{
    padding: 8px 15px;
    text-align: center;
    display: inline-block;
    background: #6b6c6c;
    border-radius: 5px;
    color: #fff;
    font-family: "Tahoma" , sans-serif;
    font-size: 13px;
    font-weight: bold;
}
.more-detailes{
    display: inline-block;
    width: 181px;
    padding: 9px 0;
    background-color: #ecedef;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    text-transform: uppercase;
    font-family: "Tahoma" , sans-serif;
    font-size: 15px;
    color: #4a4d4e;
}
.swiper-slide{
    padding: 50px 40px;
}
.more-detailes:hover{
    background: #e3210d;
    text-decoration: none;
}
.mobile-btn-info{
    text-align: center;
    margin: 40px 0 !important;
    display: none;
}
.mobile-btn-info a{
    text-transform: uppercase;
    display: inline-block;
    width: 181px;
    padding: 9px 0;
    background-color: #ecedef;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    font-family: "Tahoma" , sans-serif;
    font-size: 15px;
    color: #4a4d4e;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
}
.panel-input.color{
    height: 310px;
}

.mobile-btn-info a:hover{
    background: #e3210d;
    text-decoration: none;
}
.mobile-header{
    display: none;
    border-bottom:2px solid rgba(0, 0, 0, .4);
}
.mobile-header .header-components a{
    font-size: 25px;
    margin: 0 10px;
    color: #000;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.mobile-header .header-components a:hover{
    color: #969595;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    text-decoration: none;
}
.mobile-header ul{
    display: none;
}
.summary{
    margin-bottom: 15px;
}
label.panel-input .img{
    height: 200px;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 20px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.panel-input.color .img{
    height: 130px;
}
label.profil, label.color{
    padding-bottom: 70px;
}
.input-group .form-control{
    max-width: 100%;
    width: 100%;
}
.input-group{
    margin: 5px 0;
}
.panel-input.type-glass .img{
    height: 210px;
}
@media (max-width: 1280px){
    .box .big-text{
        font-size: 14px;
    }
    .form-panel .col-md-9{
        width: 100%;
        text-align: center;
    }
    .form-panel .input-group{
        max-width: 370px;
        margin: 0 auto;
    }
    .form-panel .col-md-6{
        width: 100%;
    }
    .form-panel .col-md-6.remove-padding-left{
        padding-left: 15px !important;
    }
    .form-panel .col-md-6.remove-padding-right{
        padding-right: 15px !important;
    }
    .form-panel .col-md-6.remove-padding{
        padding: 15px !important;
    }
    .form-panel .col-md-3{
        width: 100%;
        text-align: center;
    }
    .sum-calculator{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .what-choose{
        padding-left: 0;
    }
    .form-panel .col-md-3.remove-padding-left{
        padding-left: 15px !important;
    }
    .recomandation-box .price{
        float: none !important;
        display: block;
    }
    .recomandation-box .title-glass{
        float: none !important;
        margin: 20px 0 10px 0;
    }
    .recomandation-box .type-products{
        text-align: center;
        margin: 10px 0;
    }
    .content-slider .description .big-text{
        font-size: 60px;
        margin-top: 40px;

    }
    .top-header ul li a{
        padding: 17px 5px;
    }
    .box.socio-link ul li{
        margin: 0;
    }
    .middle-box a{
        font-size: 12px;
        width: 110px;
    }
    a .big-red-text{
        font-size: 16px;
    }
}
@media (max-width: 992px){
    .top-header #btn-popover{
        position: relative;
        left: 30px !important;
    }
    .news-btn{
        margin-right: 0px;
        padding: 10px;
    }
    .top-navigaion .col-md-6{
        text-align: center;
        margin: 10px 0;
    }
    .top-navigaion .col-md-9{
        text-align: center;
    }
    .all-contacts{
        border-left: none;
        text-align: center;
    }
    .product-range img{
        display: block;
        margin: 0 auto;
    }
    .product-range ul li img{
        display: inline-block;
    }
    .advantages{
        text-align: center;
    }
    .advantages img{
        display: block;
        margin: 0 auto;
    }
    .news-box{
        text-align: center;
    }
    .news-box img{
        display: block;
        margin: 0 auto;
    }
    .footer-nav .logo img{
        display: block;
        margin: 0  auto 20px auto;
    }
    .about-products .input-group{
        width: 18%;
        margin: 0 auto;
    }
    .hide-header-nav a{
        margin: 15px 0;
        display: block !important;
    }
    .top-slider .slider-img{
        display: none;
    }
    .top-slider .another-info{
        display: none;
    }
    .content-slider .description div{
        text-align: center;
    }
    .content-slider .title{
        text-align: center;
        padding: 0;
    }
    .content-slider .description{
        padding: 0 5px;
    }
    .mobile-btn-info{
        display: block !important;
    }
    .box.socio-link{
        display: none;
    }
    .all-contacts .box{
        display: none;
    }
    .all-contacts{
        display: flex;
        justify-content: center;
    }
    .logo{
        padding: 0;
    }
    .bottom-header{
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo img{
        display: block;
        margin: 0 auto;
    }
    .benefits{
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .benefits .box{
        margin: 15px 20px;
    }
    .advantages .col-md-6{
        display: none;
    }
    .parent-links{
        position: relative;
        height: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .our-recomandation{
        padding: 20px 0;
    }
    .recomandation-box{
        margin: 15px auto;
    }
    .middle-box {
        text-align: center;
        clear: both;
    }
    .middle-box a{
        float: left;
        display: flex;
        width: 120px;
        align-items: center;
        margin: 15px 20px;
    }
    .range-list{
        margin-top: 15px;
    }
    .submit-form-details button{
        height: auto;
        padding: 5px 0;
    }
    .contacts{
        padding: 20px 0;
    }
    .img-responsive{
        display: block;
        margin: 0 auto;
    }
}
@media (max-width: 810px){

}
@media (max-width: 768px){
    .bottom-header{
        display: none;
    }
    .bottom-navigation a{
        display: block;
        width: 100%;
        max-width: 100%;
        margin: 10px 0;
    }
    .top-header .col-md-6{
        text-align: center;
    }
    .top-header ul li a{
        border: none;
    }
    .news-btn{
        border: none;
    }
    .oferts-btn{
        border: none;
    }
    .footer-nav-list{
        display: none;
    }
    nav.pull-right{
        float: none !important;
        text-align: center;
    }
    .about-post .description{
        padding: 0 10px ;
    }
    .date-of-publishing-post{
        margin: 0;
    }
    .date-of-publishing-post .title{
        color: #969595;
    }
    .img-tabs img{
        display: block;
        margin: 10px auto;
    }
    .nav-tabs>li{
        display: block;
        float: none;
        width: 100%;
    }
    .tabs-section .nav-tabs > li > a{
        display: block;
        width: 100%;
    }
    .form-panel-content img{
        display: block;
        margin: 0 auto;
    }
    .recomandation-box{
        max-width: 500px;
    }
    .content-slider .description .big-text{
        font-size: 60px;
        margin-top: 40px;
    }
    .content-slider .description .big-text sub {
        font-size: 20px;
        left: 10px;
    }
    .mobile-header .logo img{
        max-width: 120px;
        margin: 0 !important;
    }
    .mobile-header{
        padding: 10px 30px;
        background: #ecedef;
        align-items: center;
        width: 100%;
        display: block;
    }
    .mobile-header ul{
        text-align: center;
    }
    .mobile-header ul li a{
        font-weight: 300;
        font-size: 13px;
        color: #323232;
        display: block;
        padding: 5px 0;
        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        -ms-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
    }
    .top-header{
        display: none;
    }
    .title-gama-box{
        font-size: 25px;
    }
    .range-list{
        display: none;
    }
    .product-range img.img-responsive{
        max-width: 25%;
        margin: 0 auto;
        display: block;
    }
    .swiper-slide{
        padding: 0 50px;
    }
    .benefits{
        flex-wrap: wrap;
        margin: 15px 0;
    }
    .footer-nav{
        padding: 0;
    }
    .title-glass{
        font-size: 14px;
    }
    .recomandation-box .price, .box .main-price{
        font-size: 14px;
    }
    .btn-primary.buy-now{
        font-size: 12px;
        padding: 10px 0;
        max-width: 76%;
        width: 100%;
    }
    .recomandation-box{
        padding: 10px 15px 58px 15px;
    }
    .recomandation-box .img img{
        display: block;
        margin: 0 auto;
    }
    .news{
        padding: 0;
    }
    .btn-primary.price{
        font-size: 12px;
    }
    .form-panel-content label{

    }
    .form-panel-content input[type="radio"]:checked + label .btn-primary.price{
        font-size: 12px;
    }
    .panel-input .img{
        height: 150px;
        position: relative;
        overflow: hidden;
    }
    .form-panel-content ul{
        padding: 0;
    }
    .form-panel-content ul  li label{
        padding: 0;
        font-size: 14px;
    }
}
@media(max-width: 600px){
    .recomandation-box{
        padding: 0 15px 70px 15px;
    }
    label.panel-input .img{
        height: 130px;
    }
}
@media(max-width: 570px){
    .recomandation-box .img{
        height: 150px;
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    .btn-primary.price,
    .form-panel-content input[type="radio"]:checked + label .btn-primary.price{
        width: 100%;
        padding: 10px 0;
        text-align: center;
        display:  block;
    }
    .form-panel-content .material{
        font-size: 14px;
    }
    .panel-input.profil{
        height: 300px;
        overflow: hidden;
    }
}
form .input-group .form-control{
    width: 100%;
    max-width: 100%;
}
form .input-group{
    width: 100%;
    max-width: 100%;
    margin: 5px 0;
}
.wrap .btn-danger{
    margin: 10px 0;
}
.input-group
.footer-nav{
    position: relative;
}
.hide-footer-nav{
    display: none;
}
.hide-footer-nav a{
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: 12px;
    z-index: 9;
    -webkit-transition: all ease-in;
    -moz-transition: all ease-in;
    -ms-transition: all ease-in;
    -o-transition: all ease-in;
    transition: all ease-in;
}
.hide-footer-nav a.active{
    top: 30px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.popover-footer{
    border-top:none!important;
}
.copover div{
    padding-left: 0!important;
    padding-right: 0!important;
}

.checkout-block-step {
    width: 18%;
    float: left;
    border: 1px solid #c8c8c8;
    color: #747474;
    padding: 10px 0 10px 15px;
    border-radius: 5px;
    margin-right: 1%;
}
.checkout-block-step.previous {
    background-color: #c8c8c8;
    border-color: #c8c8c8;
    color: #fff;
}
.checkout-block-step.active {
    background-color: #231f20;
    border-color: #231f20;
    color: #fff;
}
.checkout-step-circle.active {
    background-color: #fff;
    color: #747474;
}
.checkout-step-circle {
    background-color: #e3210d;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    float: left;
    margin-right: 10px;
}
.owl-carousel .owl-item img{
    width: auto!important;
}

.cart-view .quantity-form .cart-item-info {
    min-height: 100px;
}

.add-price-label {
    text-align: center;
    height: 24px;
}

label.type-glass img {
    margin: 20px auto 90px auto;
}

@media screen and (min-width: 992px)
{
    
    div[data-mh="FrontColor"] {
        width: 315px;
    }
    
}




/* NEW CSS */
.pages-cart-wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 20px 0;
}
.cart-wrap .title{
    margin-bottom: 25px;
}
.cart-page-step{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
    flex-wrap: nowrap;
    max-width: 216px;
    width: 100%;
    padding: 0 0 0 25px;
    background-color: #ecedef;
}
.cart-page-step.active{
    background-color: #323232;
}
.cart-page-step.active .name-page{
    color: #fff;
}
.cart-page-step .step-page{
    width: 25px;
    height: 25px;
    background-color: #e3210d;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Futura PT Book' , sans-serif;
    font-size: 15px;
    color: #ffffff;
    margin-right: 18px;
}
.cart-page-step .name-page{
    font-family: 'Futura PT Bold' , sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    color: #323232;
    height: auto !important;
    background: none !important;
}
.quantity-box{
    max-width: 130px;
    width: 100%;
    margin: 0 auto;
}
.quantity-box .input-group .form-control{
    padding: 16px 0 16px 5px;
    height: 38px;
    font-family: "Futura PT Book" , sans-serif;
    font-size: 15px;
    line-height: 1;
    color: #444444;
    background: #fff;
}
.quantity-box .input-group .form-control:-moz-placeholder{
    font-family: "Futura PT Book" , sans-serif;
    font-size: 15px;
    line-height: 1;
    color: #444444;
}
.quantity-box .input-group .form-control::-moz-placeholder{
    font-family: "Futura PT Book" , sans-serif;
    font-size: 15px;
    line-height: 1;
    color: #444444;
}
.quantity-box .input-group .form-control::-webkit-input-placeholder{
    font-family: "Futura PT Book" , sans-serif;
    font-size: 15px;
    line-height: 1;
    color: #444444;
}
.quantity-box .input-group .form-control:-ms-input-placeholder{
    font-family: "Futura PT Book" , sans-serif;
    font-size: 15px;
    line-height: 1;
    color: #444444;
}
.quantity-box .input-group .btn{
    background-color: #e3210d ;
    border: none;
    padding: 9px 13px;
    border-radius: 0;
}
.quantity-box .input-group .btn:focus{
    border: none;
    outline-offset: 0;
    outline: none;
    box-shadow: none;
}
.cart-wrap-item table{
    width: 100%;
}
.cart-wrap-item table th{
    font-family: "Futura PT Bold" , sans-serif;
    font-size: 15px;
    color: #ffffff;
    background-color: #323232;
    height: 44px;
    padding: 0 20px;
    text-align: left;
}
.cart-wrap-item table td{
    font-family: "Open Sans" , sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #323232;
    text-align: left;
    padding: 18px 25px;
    vertical-align: top;
    background-color: #ecedef;
    border-top: 2px solid #fff;
}
.cart-wrap-item table tr:first-of-type td{
    border-top: none;
}
.cart-wrap-item table tr:last-of-type td{
    border-bottom: 2px solid #fff;
}
.cart-wrap-item table thead tr th:nth-child(2n){
    text-align: center;
}
.cart-wrap-item table tbody tr td:first-of-type{
    width: 63px !important;
}
.cart-wrap-item table tbody tr td:last-of-type{
    width: 236px;
}
.cart-wrap-item .product-details{
    text-align: left;
}
.cart-wrap-item .product-details .bold{
    font-family: "Open Sans" , sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    color: #323232;
}
.cart-wrap-item .product-details .light{
    font-family: "Open Sans" , sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    color: #323232;
}
.cart-wrap-item .fixed-h{
    height: 38px;
    display: flex;
    align-items: center;
}
.cart-wrap-item .img-wrap{
    height: 38px;
    position: relative;
    overflow: hidden;
    display: block;
    max-width: 93px;
    margin: 0;
    width: 100%;
}
.cart-wrap-item .img-wrap img{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}
.product-details-item .label{
    position: absolute;
    right: 0;
    top: 0;
    width: 47px;
    height: 16px;
    border-radius: 3px;
    background-color: #323232;
    font-family: "Open Sans" , sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}
.product-details-item{
    position: relative;
    padding-right: 50px;
}
.cart-wrap-item .product-details{
    height: 45px;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}
.cart-wrap-item .product-details .show-more-details{
    font-family: "Open Sans" , sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: #323232;
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e3e4e5+0,ecedef+44,ecedef+100&0+0,0.85+44,1+100 */
    background: -moz-linear-gradient(top, rgba(227,228,229,0) 0%, rgba(236,237,239,0.85) 44%, rgba(236,237,239,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(227,228,229,0) 0%,rgba(236,237,239,0.85) 44%,rgba(236,237,239,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(227,228,229,0) 0%,rgba(236,237,239,0.85) 44%,rgba(236,237,239,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e3e4e5', endColorstr='#ecedef',GradientType=0 ); /* IE6-9 */
}
.cart-wrap-item .product-details .show-more-details .fa{
    position: relative;
    top: -3px;
    left: 3px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.cart-wrap-item .product-details.is-open{
    height: 140px;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    overflow-x: hidden;
    overflow-y: auto;
}
.cart-wrap-item .product-details.is-open .show-more-details{
    position: absolute;
    height: 45px;
    top: calc(100% - 20px);
}
.cart-wrap-item .product-details .show-more-details:hover{
    cursor: pointer;
    color: #e3210d;
}
.cart-wrap-item .product-details .show-more-details.open .fa{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.show-more-details .text.hide{
    display: none;
}
.prices{
    font-family: "Open Sans" , sans-serif;
    font-size: 13px;
    text-align: left;
    color: #323232;
    font-weight: 400;
}
.prices .price-red,
.delivery-wrap .delivery .price-red{
    font-weight: bold;
    color: #e3210d;
}
.prices .bold,
.delivery-wrap .delivery .bold{
    font-family: "Open Sans" , sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    color: #323232;
}
.cart-wrap-item{
    margin-bottom: 15px;
}
.finally-info .prices{
    padding-left: 52px;
}
.finally-info{
    padding: 24px 29px;
    background-color: #ecedef;
    font-family: "Open Sans" , sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #323232;
}
.finally-info .label{
    width: 47px;
    height: 16px;
    border-radius: 3px;
    background-color: #323232;
    font-family: "Open Sans" , sans-serif;
    font-size: 11px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    position: relative;
    top: -1px;
    margin-right: 5px;
}
.finally-info span.text{
    margin: 0 16px 0 0;
}
.cart-submit{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-bottom: 74px;
}
.login .head-box .title,
.registration .head-box .title,
.delivery-wrap .head-box .title,
.pay .head-box .title,
.finish-pay .head-box .title{
    margin: 0;
    padding: 0;
}
.login .head-box .title,
.registration .head-box .title,
.delivery-wrap .head-box .title,
.pay .head-box .title,
.finish-pay .head-box .title{
    background-color: #323232;
    padding: 24px;
    font-family: "Tahoma" , sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login .content,
.registration .content,
.delivery-wrap .content,
.finish-pay .content{
    padding: 77px 35px;
    background-color: #ecedef;
}
.login .content label,
.registration .content label,
.delivery-wrap .content label{
    display: block;
    margin-bottom: 16px;
    text-align: center;
    font-family: "Open Sans" , sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
    color: #444444;
}
.login input[type='checkbox'],
.delivery-wrap input[type='checkbox']{
    opacity: 0;
    position: absolute;
}
.login input:checked + label:before,
.delivery-wrap input:checked + label:before{
    background-image: url("../images/tick.png");
    background-size: 90%;
    background-position: center center;
    background-repeat: no-repeat;
}
.login .checkbox:before,
.delivery-wrap .checkbox:before{
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    margin-right: 10px;
    position: relative;
    top: 2px;
}
.login .checkbox,
.delivery-wrap .checkbox{
    width: 100%;
}
.login .content input[type='text'] ,
.login .content .form-content,
.registration .content input[type='text'] ,
.registration .content .form-content,
.delivery-wrap .content input[type='text'] ,
.delivery-wrap .content .form-content{
    height: 49px;
    background-color: #ffffff;
    display: block;
    width: 100%;
    padding: 0 0 0 24px;
    font-family: "Open Sans" , sans-serif;
    font-size: 15px;
    line-height: 1;
    text-align: left;
    color: #444444;
    border: none;
}
.login .content input[type='text']:-moz-placeholder ,
.login .content .form-content:-moz-placeholder,
.registration .content input[type='text']:-moz-placeholder ,
.registration .content .form-content:-moz-placeholder,
.delivery-wrap .content input[type='text']:-moz-placeholder ,
.delivery-wrap .content .form-content:-moz-placeholder{
    font-family: "Open Sans" , sans-serif;
    font-size: 15px;
    line-height: 1;
    text-align: left;
    color: #444444;
}
.login .content input[type='text']:-ms-input-placeholder ,
.login .content .form-content:-ms-input-placeholder,
.registration .content input[type='text']:-ms-input-placeholder ,
.registration .content .form-content:-ms-input-placeholder,
.delivery-wrap .content input[type='text']:-ms-input-placeholder ,
.delivery-wrap .content .form-content:-ms-input-placeholder{
    font-family: "Open Sans" , sans-serif;
    font-size: 15px;
    line-height: 1;
    text-align: left;
    color: #444444;
}
.login .content input[type='text']::-moz-placeholder ,
.login .content .form-content::-moz-placeholder,
.registration .content input[type='text']::-moz-placeholder ,
.registration .content .form-content::-moz-placeholder,
.delivery-wrap .content input[type='text']::-moz-placeholder ,
.delivery-wrap .content .form-content::-moz-placeholder{
    font-family: "Open Sans" , sans-serif;
    font-size: 15px;
    line-height: 1;
    text-align: left;
    color: #444444;
}
.login .content input[type='text']::-webkit-input-placeholder ,
.login .content .form-content::-webkit-input-placeholder,
.registration .content input[type='text']::-webkit-input-placeholder ,
.registration .content .form-content::-webkit-input-placeholder,
.delivery-wrap .content input[type='text']::-webkit-input-placeholder ,
.delivery-wrap .content .form-content::-webkit-input-placeholder{
    font-family: "Open Sans" , sans-serif;
    font-size: 15px;
    line-height: 1;
    text-align: left;
    color: #444444;
}
.login .content .submit-form-details button{
    background-color: transparent;
    color: #e3210d;
    border: solid 1px #e3210d;
}
.login .content .submit-form-details{
    margin-top: 86px;
}
.select2-container{
    width: 100% !important;
}
.select2-container .select2-selection--single{
    height: 49px;
    border-radius: 0;
    border: none;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 49px;
    text-align: left;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 49px;
}
.select2-container .select2-selection--single .select2-selection__rendered{
    padding-left: 25px;
}
.select2-dropdown{
    border: none;
}
.delivery-wrap .content{
    padding: 55px 35px;
}
.delivery-wrap .delivery{
    margin-bottom: 34px;
}
.delivery-wrap .delivery label{
    display: inline-block;
    width: auto;
}
.delivery-wrap .submit-form-details button{
    background: transparent;
    border: solid 1px #e3210d;
    font-family: "Tahoma" , sans-serif;
    font-size: 14.7px;
    font-weight: bold;
    color: #e3210d;
}
.pay .submit-form-details{
    margin: 0;
    display: flex;
    justify-content: flex-end;
}
.pay .submit-form-details button{
    display: inline-block;
    width: auto;
    padding: 0 45px;
    margin: 0 0 0 17px;
    border: solid 1px #e3210d;
    background: transparent;
    font-family: "Tahoma" , sans-serif;
    font-size: 14.7px;
    font-weight: bold;
    color: #e3210d;
}
.pay .content{
    background-color: #ecedef;
    padding: 31px 60px;
}
.finish-pay .content{
    text-align: center;
    padding: 35px 0;
}
.finish-pay{
    margin-bottom: 45px;
}
.delivery-wrap .submit-form-details button:hover,
.pay .submit-form-details button:hover{
    color: #fff;
    background: #e3210d;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.popover-default > .popover-title{
    background-color: #323232 !important;
    font-family: "Futura PT Bold" , sans-serif !important;
    font-size: 15px !important;
    text-align: left !important;
    color: #ffffff !important;
}
.popover.right > .arrow{
    border-right-color: #323232 !important;
}
.popover-default.right-top > .arrow:after{
    border-right-color: #323232 !important;
}
.popover-header .close{
    color: #000 !important;
    text-shadow: none !important;
    font-size: 30px !important;
}
.popover-body.popover-content{
    padding: 0 24px !important;
}
.popover{
    background-color: #ffffff !important;
    box-shadow: 0 8px 49px 0 rgba(0, 0, 0, 0.1) !important;
    border: solid 1px #edeef0 !important;
}
.copover .item-title{
    font-family: "Open Sans" , sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    color: #323232;
    padding: 0 !important;
}
.copover .price{
    font-family: "Open Sans" , sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    color: #e0210d;
}
.popover-footer .btn-primary{
    background-color: #e3210d;
    border: solid 1px #e3210d;
    height: 32px;
    width: 105px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.popover-footer .btn-primary:hover{
    background: transparent !important;
    color: #e3210d !important;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.popover-footer{
    text-align: center !important;
    padding: 0 0 23px 0 !important;
}
.copover > div{
    margin-top: 15px !important;
}
.copover > div:last-of-type{
    margin-bottom: 15px !important;
}
.popover-body a{
    width: 37px;
    height: 37px;
    display: block;
    position: relative;
}
.popover-body a img{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}
.popover-footer .total{
    font-family: "Open Sans" , sans-serif !important;
    font-size: 13px !important;
    font-weight: bold !important;
    color: #323232 !important;
}
.select2-container--krajee .select2-selection--single{
    border: none !important;
    height: 49px !important;
    box-shadow: none;
    background-color: #ecedef !important;
    padding: 6px 0 !important;
    line-height: 38px !important;
    overflow: hidden;
}
.select2-container .select2-selection--single .select2-selection__rendered{
    padding-left: 10px !important;
}
#search-form .form-control{
    height: 49px;
    border: none;
    box-shadow: none;
    border-radius: 0;
    background: #ecedef;
}
.select2-container--krajee .select2-selection--single .select2-selection__arrow{
    height: 49px !important;
}
#search-form .btn-primary{
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
    display: block;
    background: #e3210d;
    color: #fff;
    font-family: 'Tahoma' , sans-serif !important;
    font-weight: bold;
    font-size: 18px !important;
    text-align: center;
    border-radius: 0;
    height: 49px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    border: 1px solid transparent;
}
#search-form .btn-primary:hover{
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    color: #e3210d;
    background: transparent;
    border-color: #e3210d;
}
#cart-pjax .select2-container--krajee .select2-selection--single .select2-selection__clear{
    top: 4px !important;
}
#cart-pjax .select2-container--krajee .select2-selection{
    box-shadow: none;
    border-radius: 0;
    border: none;
}


@media(max-width: 992px){
    .cart-page-step .name-page{
        font-size: 12px;
    }
    .cart-page-step{
        padding: 0 0 0 15px;
    }
    .cart-page-step{
        max-width: 120px;
    }
    .cart-page-step .step-page{
        font-size: 12px;
        margin-right: 10px;
        width: 17px;
        height: 17px;
    }
    .quantity-box .input-group .btn{
        padding: 5px;
    }
    .quantity-box .input-group .form-control{
        height: 30px;
        padding: 0;
    }
    .cart-wrap-item table{
        display: block;
    }
    .cart-wrap-item table thead{
        display: none;
    }
    .cart-wrap-item table tbody tr{
        display: block;
        width: 100% !important;
    }
    .cart-wrap-item table tbody{
        display: block;
        width: 100%;
    }
    .cart-wrap-item table tbody td{
        width: 100%;
        display: block !important;
    }
    .cart-wrap-item table tbody tr td:first-of-type{
        width: 100% !important;
    }
    .cart-wrap-item table tbody tr td:last-of-type{
        width: 100%;
    }
    .cart-wrap-item .fixed-h{
        height: auto;
        justify-content: center;
    }
    .cart-wrap-item .img-wrap{
        height: 150px;
        width:200px;
    }
    .finally-info div > span{
        display: block;
    }
    .cart-submit{
        justify-content: center;
    }
    .submit-form-details{
        margin-top: 20px !important;
    }
    .box{
        text-align: center;
        padding: 25px 0;
    }
}
@media(max-width: 768px){
    /*.pages-cart-wrap{*/
        /*flex-wrap: wrap !important;*/
    /*}*/
    /*.cart-page-step{*/
        /*max-width: 180px;*/
    /*}*/
    .submit-form-details button{
        width: 100% !important;
        padding: 10px 0 !important;
        text-align:  center !important;
        display: block !important;
        margin: 10px auto !important;
    }
    .pay .submit-form-details{
        display: block;
        width: 100%;
    }
    .login .head-box .title,
    .registration .head-box .title,
    .delivery-wrap .head-box .title,
    .pay .head-box .title, .finish-pay,
    .head-box .title{
        padding: 10px 24px;
    }
    .delivery-wrap .content{
        padding: 20px 15px;
    }
}
@media(max-width: 650px){
    .pages-cart-wrap{
        display: none;
    }
}
:focus{
    outline-offset: 0px;
    outline: none;
    box-shadow: none;
    border: none;
}