#categories-types-wrap .category-name {
    margin-top: 20px;
    font-size: 18px;
}

#categories-types-wrap .category-name span:before {
    content: '+';
}

input[name="culoare"]:checked + label {
    background-color: #fffbfb;
    border-color: #e3210d;
}

.submit-form-details{
    display: none;
}