/*
########################################
 (c)2017 CREDIT INFO
########################################

 @CSS Document;

 Author: Savin Cristian
 Author-email: savin.cristian95@icloud.com
 Start Date: 20. 07. 2017
 Finish Date: 30. 07. 2017

*/



/*
    Custom marin top & bottom classes
*/
.mt5{margin-top:5px!important}
.mt10{margin-top:10px!important}
.mt15{margin-top:15px!important}
.mt20{margin-top:20px!important}
.mt25{margin-top:25px!important}
.mt30{margin-top:30px!important}
.mt35{margin-top:35px!important}
.mt40{margin-top:40px!important}
.mt45{margin-top:45px!important}
.mt50{margin-top:50px!important}
.mt55{margin-top:55px!important}
.mt60{margin-top:60px!important}
.mt65{margin-top:65px!important}
.mt70{margin-top:70px!important}
.mt75{margin-top:75px!important}
.mt80{margin-top:80px!important}
.mt85{margin-top:85px!important}
.mt90{margin-top:90px!important}

.pt5{margin-bottom:5px!important}
.mb10{margin-bottom:10px!important}
.mb15{margin-bottom:15px!important}
.mb20{margin-bottom:20px!important}
.mb25{margin-bottom:25px!important}
.mb30{margin-bottom:30px!important}
.mb35{margin-bottom:35px!important}
.mb40{margin-bottom:40px!important}
.mb45{margin-bottom:45px!important}
.mb50{margin-bottom:50px!important}
.mb55{margin-bottom:55px!important}
.mb60{margin-bottom:60px!important}
.mb65{margin-bottom:65px!important}
.mb70{margin-bottom:70px!important}
.mb75{margin-bottom:75px!important}
.mb80{margin-bottom:80px!important}
.mb85{margin-bottom:85px!important}
.mb90{margin-bottom:90px!important}

/* COSTUME PADDING CLASES */

.pt5{padding-top:5px!important}
.pt10{padding-top:10px!important}
.pt15{padding-top:15px!important}
.pt20{padding-top:20px!important}
.pt25{padding-top:25px!important}
.pt30{padding-top:30px!important}
.pt35{padding-top:35px!important}
.pt40{padding-top:40px!important}
.pt45{padding-top:45px!important}
.pt50{padding-top:50px!important}
.pt55{padding-top:55px!important}
.pt60{padding-top:60px!important}
.pt65{padding-top:65px!important}
.pt70{padding-top:70px!important}
.pt75{padding-top:75px!important}
.pt80{padding-top:80px!important}
.pt85{padding-top:85px!important}
.pt90{padding-top:90px!important}

.pb5{padding-bottom:10px!important}
.pb10{padding-bottom:5px!important}
.pb15{padding-bottom:15px!important}
.pb20{padding-bottom:20px!important}
.pb25{padding-bottom:25px!important}
.pb30{padding-bottom:30px!important}
.pb35{padding-bottom:35px!important}
.pb40{padding-bottom:40px!important}
.pb45{padding-bottom:45px!important}
.pb50{padding-bottom:50px!important}
.pb55{padding-bottom:55px!important}
.pb60{padding-bottom:60px!important}
.pb65{padding-bottom:65px!important}
.pb70{padding-bottom:70px!important}
.pb75{padding-bottom:75px!important}
.pb80{padding-bottom:80px!important}
.pb85{padding-bottom:85px!important}
.pb90{padding-bottom:90px!important}


body{
    font-family: "Open Sans" ,  sans-serif;
    font-size: 16px;
    color: #444;
}


/* BEBAS NEUE */


@font-face {
    font-family: 'Bebas Neue Regular';
    src: url('../fonts/bebas-neue/BebasNeueRegular.eot');
    src: url('../fonts/bebas-neue/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bebas-neue/BebasNeueRegular.woff') format('woff'),
    url('../fonts/bebas-neue/BebasNeueRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Bold';
    src: url('../fonts/bebas-neue/BebasNeueBold.eot');
    src: url('../fonts/bebas-neue/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bebas-neue/BebasNeueBold.woff') format('woff'),
    url('../fonts/bebas-neue/BebasNeueBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Book';
    src: url('../fonts/bebas-neue/BebasNeueBook.eot');
    src: url('../fonts/bebas-neue/BebasNeueBook.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bebas-neue/BebasNeueBook.woff') format('woff'),
    url('../fonts/bebas-neue/BebasNeueBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Thin';
    src: url('../fonts/bebas-neue/BebasNeue-Thin.eot');
    src: url('../fonts/bebas-neue/BebasNeue-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bebas-neue/BebasNeue-Thin.woff') format('woff'),
    url('../fonts/bebas-neue/BebasNeue-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Light';
    src: url('../fonts/bebas-neue/BebasNeueLight.eot');
    src: url('../fonts/bebas-neue/BebasNeueLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bebas-neue/BebasNeueLight.woff') format('woff'),
    url('../fonts/bebas-neue/BebasNeueLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello/fontello.eot');
    src: url('../fonts/fontello/fontello.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fontello/fontello.woff') format('woff'),
    url('../fonts/fontello/fontello.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.logo{
    text-align: center;
    padding: 22px 0 0 0;
}
.logo a .strong{
    text-align: center;
    font-family: "Bebas Neue Bold" , sans-serif;
    font-size: 40px;
    color: #0088b5;
}
.logo a:hover{
    text-decoration: none;
    cursor: pointer;
}
a:focus{
    text-decoration: none;
}
.logo a{
    font-family: "Bebas Neue Thin" ,  sans-serif;
    font-size: 40px;
    text-align: center;
    color: #0088b5;
}
.wrap{
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
}
/* side-bar nav */
.side-bar-nav {
    box-shadow: inset -5px 0 11px 0 rgba(0, 0, 0, 0.05);
    height: 100vh;
    width: 210px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.side-bar-nav ul{
    list-style-type: none;
    padding: 60px 0 0 0;
}
.side-bar-nav ul li {
    margin: 0 !important;
    display: block;
    height: auto;
    line-height: 0;
    padding: 11px 0 10px 70px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    text-align: left;
    color: #0088b5;
}
.side-bar-nav ul li:hover{
    background: #e5f3f7;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.active-page{
    background: #e5f3f7;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    border-right: 3px solid #0088b5;
}
.side-bar-nav ul li a{
    display: block;
    width: 100%;
    margin: 0;
    height: auto;
    font-family: "OpenSans" , sans-serif;
    font-size: 13px;
    line-height: 1;
    text-align: left;
    color: #484848;
}
.side-bar-nav ul li a:hover{
    text-decoration: none;
}
.content{
    width: 100%;
    max-width: 100%;
    height: 100vh;
    background: #f9f9f9;
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 210px;
    padding: 85px 36px 85px 246px;
    overflow-y: auto;
}
.home:before{
    content: "";
    font-family: "fontello" , sans-serif;
    display: inline-block;
    position: relative;
    top: 7px;
    left: -20px;
}
.plus:before{
    content: "";
    font-family: "fontello" , sans-serif;
    display: inline-block;
    position: relative;
    top: 7px;
    left: -20px;
}
.content-icon:before{
    content: "";
    font-family: "fontello" , sans-serif;
    display: inline-block;
    position: relative;
    top: 7px;
    left: -20px;
}
.menu:before{
    content: "";
    font-family: "fontello" , sans-serif;
    display: inline-block;
    position: relative;
    top: 7px;
    left: -20px;
}
.slider:before{
    content: "";
    font-family: "fontello" , sans-serif;
    display: inline-block;
    position: relative;
    top: 7px;
    left: -20px;
}
.galery:before{
    content: "";
    font-family: "fontello" , sans-serif;
    display: inline-block;
    position: relative;
    top: 7px;
    left: -20px;
}
.feedback:before{
    content: "";
    font-family: "fontello" , sans-serif;
    display: inline-block;
    position: relative;
    top: 7px;
    left: -20px;
}
.credit-request:before{
    content: "";
    font-family: "fontello" , sans-serif;
    display: inline-block;
    position: relative;
    top: 7px;
    left: -20px;
}
.settings:before{
    content: "";
    font-family: "fontello" , sans-serif;
    display: inline-block;
    position: relative;
    top: 7px;
    left: -20px;
}
.users:before{
    content: "";
    font-family: "fontello" , sans-serif;
    display: inline-block;
    position: relative;
    top: 7px;
    left: -20px;
}
.sites:before{
    content: "";
    font-family: "fontello" , sans-serif;
    display: inline-block;
    position: relative;
    top: 7px;
    left: -20px;
}
header{
    position: fixed;
    top: 0;
    width: calc(100% - 210px);
    max-width: 100%;
    padding: 18px 36px;
    background: #fff;
    right: 0;
    z-index: 10;
}
footer{
    position: fixed;
    bottom: 0;
    width: calc(100% - 210px);
    max-width: 100%;
    padding: 18px 36px;
    background: #fff;
    right: 0;
    z-index: 10;
}

/* HEADER SEAARCH */


.custom-search-input {
    padding: 0;
    max-width: 50%;
    width: 100%;
    margin: 0;
    border-radius: 5px;
}

.custom-search-input .search-query {
    font-family: "OpenSans" , sans-serif;
    font-size: 13px;
    text-align: left;
    color: #cfcfcf;
    margin-bottom: 0;
    border-radius: 5px !important;
    background-color: #fafafa;
    box-shadow: inset -5px 0 40px 0 rgba(0, 0, 0, 0.05);
    border: none;
    padding: 13px 0 13px 26px;
}
.custom-search-input input{
    font-family: "OpenSans" , sans-serif;
    font-size: 13px;
    text-align: left;
    color: #cfcfcf;
}
.custom-search-input input:-moz-placeholder,
.custom-search-input input::-moz-placeholder,
.custom-search-input input::-webkit-input-placeholder,
.custom-search-input input:-ms-input-placeholder{
    font-family: "OpenSans" , sans-serif;
    font-size: 13px;
    text-align: left;
    color: #cfcfcf;
}
.custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #cfcfcf;
    font-size: 16px;
}
.custom-search-input .input-group-btn{
    border-radius: 5px;
}
.search-query:focus + button {
    z-index: 3;
}
.btn-danger:hover{
    background-color: transparent !important;
    border: none !important;
    color: #0088b5;
}
.btn-danger:focus{
    background-color: transparent !important;
    border: none !important;
    outline: none;
    outline-offset: 0;
    box-shadow: none;
    color: #0088b5;
}
button:focus{
    outline-offset: 0;
    outline: none;
    border: none;
    box-shadow: none;
}
.user a{
    margin: 0 5px;
}
.user a svg{
    display: inline-block;
    width: 18px;
    height: auto;
    position: relative;
    top: 4px;
}
.user a svg path{
    fill: #0088b5;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.user a:hover{
    text-decoration: none;
}
.user a:hover svg path{
    fill: #444 !important;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.user .rotate svg{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.user{
    text-align: right;
    padding-top: 5px;
}
.user .text{
    font-family: "OpenSans" , sans-serif;
    font-size: 13px;
    text-align: center;
    color: #6c6c6c;
}
footer{
    font-family: "Bebas Neue Regular" , sans-serif;
    font-size: 15px;
    text-align: center;
    color: #cfcfcf;
}
footer .copyright{
    display: block;
    float: left;
}
footer .powered{
    float: right;
}
footer .powered{
    text-align: right;
}


/* BREADCRUMB */
.breadcrumb{
    padding: 0;
    margin: 0;
    background: none;
    font-family: "OpenSans" , sans-serif;
    font-size: 14px;
    color: #6c6c6c;
}

.title{
    font-family: "BebasNeue" , sans-serif;
    font-size: 30px;
    text-align: left;
    color: #6c6c6c;
    margin: 57px 0 26px 0;
}

.name-box{
    font-family: "OpenSans" , sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    color: #555555;
}

.statistic-box{
    background: #fff;
    position: relative;
}
.statistic-box .name-box{
    padding: 25px 39px;
}
.statistic-box .select2-container{
    width: 30% !important;
    display: block;
    position: absolute;
    top: 25px;
    right: 56px;
}
.statistic-box label{
    display: block;
    width: 100%;
}
.statistic-box .select2-container--default .select2-selection--single .select2-selection__rendered{
    font-family: "OpenSans" , sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    color: #555555;
}
.statistic-box .nav-tabs>li>a{
    font-family: "OpenSans" , sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    color: #555555;
    padding: 5px 10px;
}
.statistic-box .nav-tabs,
.language .nav-tabs{
    border: none;
    margin: 0;
    padding: 18px 0 0 0;
    text-align: right;
    display: block;
}
.language .nav-tabs>li>a{
    border: none;
}
.language .nav-tabs{
    text-align: left;
}
.statistic-box .nav-tabs>li{
    display: inline-block;
    float: none;
}

.nav-tabs>li.active>a:focus{
}

.table-responsive{
    overflow-y: visible;
    overflow-x: auto;
}


/* FILTER UPDATE PAGE */

.filter .select2-container{
    width: 100% !important;
    display: block;
}
.filter label{
    display: block;
    width: 100%;
    font-family: "OpenSans" , sans-serif;
    font-size: 13px;
    line-height: 1.37;
    font-weight: 300;
    margin-bottom: 10px;
    text-align: left;
    color: #555555;
}
.filter .select2-container--default .select2-selection--single .select2-selection__rendered,
.modal .select2-container--default .select2-selection--single .select2-selection__rendered{
    font-family: "OpenSans" , sans-serif;
    font-size: 13px;
    line-height: 1.37;
    text-align: left;
    color: #555555;
}
.filter .select2-container--default .select2-selection--single,
.modal .select2-container--default .select2-selection--single{
    padding: 14px;
    height:44px;
    border: solid 1px rgba(221, 221, 221, 0.78);
}
.filter .select2-container--default .select2-selection--single .select2-selection__arrow b,
.modal .select2-container--default .select2-selection--single .select2-selection__arrow b{
    margin-top: 8px;
}
.modal .select2-container{
    display: block !important;
    width: 100% !important;
}
.modal .modal-footer button{
    background: #0088b5;
}
.modal .modal-footer button:hover{
    background-color: rgba(0, 136 , 181, .7) !important;
}
.filter input{
    border: solid 1px rgba(221, 221, 221, 0.78);
    padding: 15px;
    height: 44px;
    width: 100%;
    font-family: "OpenSans" , sans-serif;
    font-size: 13px;
    line-height: 1.37;
    text-align: left;
    color: #555555;
}
.filter input:-ms-input-placeholder,
.filter input:-moz-placeholder,
.filter input::-moz-placeholder,
.filter input::-webkit-input-placeholder{
    font-family: "OpenSans" , sans-serif;
    font-size: 13px;
    line-height: 1.37;
    text-align: left;
    color: #555555;
}

.language{
    border-bottom: 1px solid #0088b5;
}
.language ul{
    list-style-type: none;
    padding-top: 20px;
    position: relative;
    top: 2px;
}
.language .nav-tabs>li {
    display: inline-block;
    margin: 0 10px;
    padding: 0 10px 10px 10px;
    border-bottom: 3px solid transparent;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.language .nav-tabs>li>a{
    font-family: "OpenSans" , sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    color: #555555;
    padding: 5px 10px;
}
.active-language{
    border-color: #0087b4 !important;
}
.language .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus,
.language .nav-tabs>li.active>a:hover{
    border: none;
    background: none;

}
.language .nav-tabs>li:hover{
    border-color: #0087b4 !important;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.language .nav-tabs>li>a:hover{
    text-decoration: none;
    background: none;
    box-shadow: none;
    border: none;
}
label{
    display: block;
    width: 100%;
    font-family: "OpenSans" , sans-serif;
    font-size: 13px;
    line-height: 1.37;
    margin-bottom: 10px;
    text-align: left;
    color: #555555;
}
.update-site input{
    width: 100%;
    display: block;
}
input:-ms-input-placeholder,
input:-moz-placeholder,
input::-moz-placeholder,
input::-webkit-input-placeholder{
    font-family: "OpenSans" , sans-serif;
    font-size: 13px;
    line-height: 1.37;
    text-align: left;
    color: #555555;
}
input{
    border: solid 1px rgba(221, 221, 221, 0.78);
    padding: 15px;
    height: 44px;
    width: 100%;
    font-family: "OpenSans" , sans-serif;
    font-size: 13px;
    line-height: 1.37;
    text-align: left;
    color: #555555;
    border-radius: 5px;
}
textarea{
    resize: none;
    border: solid 1px rgba(221, 221, 221, 0.78);
    padding: 15px;
    height: 44px;
    width: 100%;
    font-family: "OpenSans" , sans-serif;
    font-size: 13px;
    line-height: 1.37;
    text-align: left;
    color: #555555;
    border-radius: 5px;
}
.update-site{
    padding: 30px 0;
}
.update-site textarea{
    padding: 15px;
    height: 209px;
}
.drop-zone-file .dz-default{
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

.grup-button{
    text-align: center;
    padding: 30px 0;
}
.grup-button .select2-container{
    display: inline-block !important;
    position: relative;
    left: -4px;
    top: -1px;
}
.grup-button label{
    display: inline-block !important;
    width: auto;
}
.grup-button button.submit{
    width: 142px;
    height: 44px;
    background-color: #0088b5;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: "OpenSans" , sans-serif;
    font-size: 13px;
    text-align: center;
    color: #ffffff;
    position: relative;
}
.grup-button button.submit:after{
    content: "and";
    position: absolute;
    right: -11px;
    width: 23px;
    height: 23px;
    z-index: 1;
    background: #fff;
    border-radius: 50px;
    font-family: "OpenSans" , sans-serif;
    font-size: 9px;
    line-height: 1.98;
    color: #555555;
    padding-top: 3px;
    text-align: center;
}
.grup-button .select2-container--default .select2-selection--single{
    border-left: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 142px;
    height: 44px;
    background-color: #ffffff;
    border: solid 1px rgba(221, 221, 221, 0.78);
}
.grup-button .select2-container--default .select2-selection--single .select2-selection__rendered{
    font-family: "OpenSans" , sans-serif;
    font-size: 13px;
    line-height: 1.37;
    text-align: left;
    color: #0087b4;
}
.result-page{
    display: block;
    font-family: "OpenSans" , sans-serif;
    font-size: 13px;
    line-height: 1.37;
    color: #555555;
    margin-top: 60px;
    text-align: right;
}
.result-page .number-result{
    font-weight: 900;
}
.filter table{
    display: table;
    width: 100%;
    min-width: 1000px;
}
.filter table thead{
    background: #f0f0f0;
}
.filter table thead th{
    padding: 28px 21px;
    font-family: "OpenSans" , sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.37;
    text-align: left;
    color: #0088b5;
}
.filter table tbody:nth-child(2n),
.view-feedback table:nth-child(2n){
    background: #f0f0f0;
}
.filter table tbody td{
    padding: 8px 21px;
}
.filter .see,
.filter  .edit{
    display: inline-block;
    width: 23px;
    height: 23px;
    border-radius: 50px;
    background: #0088b5;
    text-align: center;
    color: #fff;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.filter  .close{
    background-color: #ff4444;
    opacity: 1;
    width: 23px;
    height: 23px;
    border-radius: 50px;
    text-align: center;
    color: #fff;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.filter  .close:hover{
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    background: #0088b5;
}
.filter  .see:hover{
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    background: #ff4444;
}
.pagination > li > a, .pagination > li > span{
    background-color: #0088b5;
    border: solid 1px rgba(221, 221, 221, 0.78);
    font-family: "OpenSans" , sans-serif;
    font-size: 13px;
    line-height: 1.37;
    text-align: left;
    color: #ffffff;
    padding: 12px 15px;
}
.pagination > li.active > a{
    background-color: #fff;
    font-family: "OpenSans" , sans-serif;
    font-size: 13px;
    line-height: 1.37;
    text-align: left;
    color: #0088b5;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    border: solid 1px rgba(221, 221, 221, 0.78) !important;
    border-color: rgba(221, 221, 221, 0.78) !important;
    background: #f5f5f5;
    color: #0088b5;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}


/* STYLE MODAL */
.modal-dialog{
    max-width: 900px;
    width: 100%;
    margin: 30px auto;
}
.modal-body table td{
    padding: 8px;
}
.modal-body table{
    border-radius: 10px !important;
    overflow: hidden;
}
.modal-body table tr:nth-of-type(odd){
    background: #f0f0f0;
}
.modal-body table td.name{
    font-family: "OpenSans" , sans-serif;
    font-size: 13px;
    line-height: 1.37;
    font-weight: 900;
    color: #555555;
}
.modal-header,
.modal-footer{
    border: none;
}
.modal-footer button{
    display: block;
    margin: 0 auto;
    max-width: 141px;
    width: 100%;
    padding: 16px 0;
    text-align: center;
    border: none;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    color: #fff;
    font-family: "OpenSans" , sans-serif;
    font-size: 13px;
    line-height: 1.37;
    font-weight: 500;
}
.modal-footer button:hover{
    background-color: rgba(235, 67, 67 , .7) !important;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    color: #fff;
}
.modal-body .title{
    margin: 0 0 40px 0;
    padding: 0;
}
.modal-header .close{
    width: 43px;
    height: 43px;
    text-align: center;
    border-radius: 50px;
    background-color: #f5f5f5;
    opacity: 1;
    color: #d0d0d0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.modal-header .close:hover{
    background-color: #0088b5;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.create-site{
    margin-left: 30px;
    position: relative;
    top: -5px;
}
span.title{
    margin-top: 30px;
    display: inline-block;
}
.filter table tbody tr td:last-child{
    text-align: right !important;
}
.filter .close,
.filter .see{
    margin: 0 5px;
}

.inline-block{
    display: inline-block;
}

.change-type-pages{
    padding-top: 30px;
}
.change-type-pages.nav-tabs{
    border: none;
}
.change-type-pages.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border-radius: 0;
    border: solid 1px rgba(221, 221, 221, 0.78);
    background: #fff;
}
.change-type-pages>li>a{
    background-color: #0088b5;
    color: #fff;
    border-radius: 0;
    margin: 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.change-type-pages>li>a:hover{
    border: solid 1px rgba(221, 221, 221, 0.78);
    background: #fff;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    color: #0088b5;
}

.site-box .site-head{
    padding: 19px;
    text-align: left;
    background-color: #e5f3f7;
    font-family: "OpenSans" , sans-serif;
    font-size: 13px;
    line-height: 2.31;
    color: #555555;
}
.site-box .site-body{
    background: #fff;
    padding: 18px;
    font-family: "OpenSans" , sans-serif;
    font-size: 13px;
    text-align: left;
    color: #555555;
}
.site-box .site-footer{
    background: #fff;
    padding: 18px;
}
.site-box .control-button{
    text-align: right;
}
.site-box{
    margin-bottom: 30px;
}
.site-box .name-page.activated:after{
    content:"";
    display: inline-block;
    position: relative;
    left: 10px;
    width: 5px;
    top: -3px;
    height: 5px;
    background: green;
    border-radius: 100px;
}
.site-box .name-page.deactivated:after{
    content:"";
    display: inline-block;
    position: relative;
    left: 10px;
    width: 5px;
    top: -3px;
    height: 5px;
    background: red;
    border-radius: 100px;
}
.filter button{
    width: 142px;
    height: 44px;
    background-color: #0088b5;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: "OpenSans" , sans-serif;
    font-size: 13px;
    text-align: center;
    color: #ffffff;
    position: relative;
    margin-top: 10px;
}
.checkbox-group input{
    width: auto;
}
.checkbox-group label{
    margin: 0 0 10px 0;
}
.checkbox-group label span{
    position: relative;
}
.checkbox-group input{
    height: auto;
}
.checkbox-inputs{
    background: #fff;
    padding: 20px;
    height: 300px;
    overflow-y: auto;
}
.checkbox-group .nav-tabs,
.settings-site .nav-tabs{
    border-bottom: 1px solid #0087b4;
}
.checkbox-group .nav-tabs>li,
.settings-site .nav-tabs>li{
    position: relative;
    top: 1px;
    display: inline-block;
    float: none;
}
.checkbox-group .nav-tabs > li > a,
.settings-site .nav-tabs > li > a{
    border-radius: 0;
    border: none;
    font-family: "OpenSans" , sans-serif;
    font-size: 13px;
    line-height: 1.37;
    text-align: left;
    color: #555555;
}
.checkbox-group .nav-tabs > li  > a:hover ,
.settings-site .nav-tabs > li > a:hover{
    border-bottom: 3px solid #0087b4 !important;
    border: none;
}
.checkbox-group .nav-tabs>li.active>a, .checkbox-group .nav-tabs>li.active>a:focus, .checkbox-group .nav-tabs>li.active>a:hover,
.settings-site .nav-tabs>li.active>a, .settings-site .nav-tabs>li.active>a:focus, .settings-site .nav-tabs>li.active>a:hover{
    border-bottom: 3px solid #0087b4 !important;
    border: none;
    background: transparent;
    border-radius: 0;
}
.checkbox-group .nav-tabs{
    text-align: center;
    display: block;
    width: 100%;
}
.checkbox-group .jq-checkbox.checked .jq-checkbox__div{
    margin: 1px;
}

/* SORTABLE */
#sortable{
    list-style-type: none;
    padding: 10px;
    margin-top: 40px;
}
#sortable > li{
    padding: 10px 16px;
    background-color: #e0edf2;
    border: solid 1px rgba(221, 221, 221, 0.78);
    border-radius: 5px;
    margin: 0 0 10px 0;
}
.move-me{
    width: 23px;
    height: 23px;
    background: #0088b5;
    border-radius: 50px;
    text-align: center;
    color: #fff;
}
.editable-box{
    padding: 16px 17px;
    display: none;
}
.editable-box .input-group{
    margin: 0 0 10px 0;
}
.editable-box .input-group-addon:first-child{
    background: #0088b5;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    font-family: "OpenSans" , sans-serif;
    font-size: 13px;
    line-height: 1.37;
    text-align: left;
    color: #ffffff;
}

.editable-box .submit{
    border-radius: 5px;
}
.settings-site .tab-content{
    padding: 30px 0;
}
.border-blue{
    height: 1px;
    background: #0088b5;
    margin: 30px 0;
}

.settings-site textarea{
    height: 120px;
    text-align: left;
}
.settings-site .submit{
    border-radius: 5px;
}
.label-pos-relative label{
    position: relative;
    margin: 0;
    top: 25px;
}
.label-pos-relative .nav-tabs{
    text-align: center;
}


@media screen and (max-width: 1200px){
    .resize{
        width: 100% !important;
    }
    .filter .close, .filter .see{
        margin: 5px;
    }
}

@media screen and (max-width: 992px){
    .custom-search-input{
        width: 100%;
        max-width: 100%;
    }
    form .row > div{
        margin: 15px 0;
    }
    .content{
        padding: 90px 20px;
    }
    .side-bar-nav{
        left: -210px;
        z-index: 20 !important;
        background: rgba(255 , 255 , 255 , 1);
    }
    header{
        width: 100%;
    }
    footer{
        width: 100%;
    }
    .open-nav{
        display: block !important;
    }


}
@media (max-width: 768px){
    .user{
        text-align: center;
    }
    .statistic-box{
        margin: 15px 0;
    }
    .title{
        font-size: 20px;
    }
    .text-right{
        text-align: center !important;
    }
    .filter button{
        margin: 15px 0;
    }
    .filter .close, .filter .see{
        margin: 0 5px;
    }
    .result-page{
        margin: 15px 0 15px 0;
        text-align: center;
    }
    .checkbox-group .nav-tabs > li > a, .settings-site .nav-tabs > li > a{
        font-size: 12px;

    }
    .nav-tabs{
        text-align: center;
    }
    .nav-tabs> li > a{
        padding: 10px 7px;
    }
    .change-type-pages>li>a{
        padding: 10px 15px;
    }
    table .close,
    table .see{
        margin: 5px !important;
    }
    .filter input{
        min-width: 120px;
    }
    .grafic-box{
        margin-top: 60px;
    }
    .statistic-box .select2-container{
        width: 100% !important;
        position: relative;
        left: 20%;
        margin: 0 auto;
    }
    .statistic-box .nav-tabs{
        text-align: center;
    }
    .filter{
        overflow: hidden;
    }
    .checkbox-group .jq-checkbox.checked .jq-checkbox__div{
        margin: 1px 2px;
    }
    .table-scroll{
        overflow: auto;
        height: 500px;
        padding: 0 40px;
    }
    .grup-button .select2-container{
        top: -2px;
    }
}

.table-scroll{
    overflow: auto;
    height: 100%;
}

.open-side-bar{
    left: 0;
}

/* burgher */

.open-nav{
    position: absolute;
    top: 6px;
    right: -23px;
    display: none;
    background: #e5f3f7;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    padding: 16px 0 0 0;
}
.nav-icon1 {
    width: 30px;
    height: 25px;
    margin: 0 auto;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.nav-icon1 span{
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #0088b5;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .45s ease-in-out;
    -moz-transition: .45s ease-in-out;
    -o-transition: .45s ease-in-out;
    transition: .45s ease-in-out;
}


.nav-icon1 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.nav-icon1 span:nth-child(2) {
    top: 8px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.nav-icon1 span:nth-child(3) {
    top: 16px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.nav-icon1.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -4px;
    left: 5px;
}

.nav-icon1.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.nav-icon1.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 18px;
    left: 5px;
}

.navbar-inverse.navbar-fixed-top.navbar + .container {
    padding-top: 80px;
    padding-bottom: 80px;
}

.help-block {
    font-size: 13px;
}